.App {
  text-align: center;
}

.Alt-Row {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

select {
  width: auto !important;
  background: #fff;
  /* color: #a3a3a3 !important; */
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0 !important;
  outline: 0 !important;
  padding: 22px 18px;
  margin: 0 auto !important;
}

.form-control:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.Map-Message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
